* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  background-color: #222525;
}
.header-top {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #222525;
  position: fixed;
}
.header-left {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.vectr_logo {
  color: white;
  width: 100px;
}
.header-right {
  width: 70%;
  height: 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar li a{
  text-decoration: none;
}
.grey {
  color: #7F8E94;
  padding: 5px 0;
}
.grey_basta {
  color: #7F8E94;
}
.grey_basta:hover {
  color: white;
}
.grey:hover {
  color: white;
  border-bottom: 2px solid #4984A2;
}
.nav-bar li {
  list-style: none;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
}
.fas {
  font-size: 10px;
}
.button_lime {
  border: 2px solid #89D340;
  border-radius: 4px;
}
.button_lime:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.button_lime a:hover {
  color: #89D340;
}
.button_grey {
  border: 2px solid #7F8E94;
  border-radius: 4px;
  margin-left: 10px;
}
.button_grey:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.color_white {
  color: white;
}
.color_white:hover {
  color: #89D340;
}
